# Port host (sesuaikan jika bentrok)
KAFKA_BOOTSTRAP=localhost:9093
MINIO_ENDPOINT=localhost:9030
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=banjir-musi

# Topik Kafka (DAS Musi)
KAFKA_TOPIC_TMA=sensor.tma.musi
KAFKA_TOPIC_ALERT=alert.banjir.musi
