# Salin: cp .env.example .env
JUPYTER_TOKEN=sedona123
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
# API key FIRMS (opsional): https://firms.modaps.eosdis.nasa.gov/api/map_key/
FIRMS_MAP_KEY=YOUR_FIRMS_API_KEY
